{% extends "base.html" %}
{% load static %}

{% block statics_dependecies %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block body_block %}
    <header id="header">
        <ul id="links-header">
            <li><a class="link-header" href="#">Início</a></li>
            <li><a class="link-header" href="#">Features</a></li>
            <li><a class="link-header" href="#">Documentação</a></li>
            <li><a class="link-header" href="#">Sobre</a></li>
            <li><a class="link-header" href="#">Contato</a></li>
            <li><a class="link-header" href="{% url 'to_login' %}">Login</a></li>
        <ul>
    </header>
    <main>
        <section class="section" id="hero">
            <video autoplay loop muted id="video-fundo">
                <source src="{% static 'video/people-walking.mp4' %}" type="video/mp4">
            </video>
            <div id="hero-overlay"></div>
            <div class="container">
                <div id="hero-cta">
                    <h2 class="title-2">Oriente as pessoas dentro da sua unidade<h2>
                    <p id="paragraph-cta" class="paragraph-muted">Controle pontos de interesse, contrua um tour para sua unidade.
                    </p>
                    <button class="btn btn-primary">Conhecer solução</button>
                </div>
                <div id="image-cta">
                    <img class="img" src="{% static 'img/cta.jpg' %}">
                </div>
            </div>
        </section>
        <section class="section" id="apresentation">
            <div class="container">
                <h2 class="title-2">Feito para ser prático e fácil<h2>
                <p class="paragraph-muted">Mostre os principais pontos aos seus visitantes sem baixar nenhum app</p>

                <img id="apresentation-mobile" class="img" src="{% static 'img/mobile.png' %}">
            </div>        
        </section>
        <section class="section" id="features">
            <div class="container">
                <h2 class="title-2">Solução para muito problemas<h2>
                
                <div id="features-grid">
                    <div id="feature-image">
                        <img class="img" src="{% static 'img/people.jpg' %}">
                    </div>
                    <div id="features-content">
                        <ul id="features-list">
                            <li class="feature">
                                <div class="feature-icon">
                                    <img id="" class="img" src="{% static 'img/local-with-map.png' %}">
                                </div>
                                <div class="feature-content">
                                   <h5>Mapeamento dos lugares de interesse</h5>
                                   <p class="paragraph-muted">Localização exata dos principais pontos de interesse das pessoas visitantes.</p>
                                </div>
                            </li>
                            <li class="feature">
                                <div class="feature-icon">
                                    <img id="" class="img" src="{% static 'img/track.png' %}">
                                </div>
                                <div class="feature-content">
                                   <h5>Caminho</h5>
                                   <p class="paragraph-muted">Caminho automático até o lugares setados.</p>
                                </div>
                            </li>
                            <li class="feature">
                                <div class="feature-icon">
                                    <img id="" class="img" src="{% static 'img/data-safe.png' %}">
                                </div>
                                <div class="feature-content">
                                   <h5>Dados</h5>
                                   <p class="paragraph-muted">Não guardamos nenhum dado de identidade ou quantidade de pessoas em locais em tempo real.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>        
        </section>
    </main>
  
{% endblock %}