#logo {
    max-height: 67px;
}

#header, #links-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 0;
}

.link-header {
    font-weight: 600;
    margin-right: 2rem;
    transition: 0.6s;
    color: #000000;
}


.link-header:hover {
    color: #003CA4;
}

#hero {
    position: relative;
}

#hero-cta .title-2, #paragraph-cta {
    color: #FFFFFF;
}

#hero .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 80vh
}

#hero-cta, #image-cta {
    max-width: 50%;
    padding: 1.4rem;
}

#image-cta img {
    transition: 0.5s;
}

#image-cta img:hover {
    transform: scale(1.03);
}

#paragraph-cta {
    margin-top: 0.5rem;
}

#hero-cta .btn {
    margin-top: 1.5rem;
}

#video-fundo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
    object-fit: fill;
}

#hero-overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#apresentation {
    padding-top: 4rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

#apresentation .container {
    text-align: center;
}

#apresentation-mobile {
    position: relative;
    bottom: -15px;
}

#apresentation .title-2, #apresentation .paragraph-muted {
    text-align: center;
}