{% extends "base.html" %}
{% load static %}

{% block statics_dependecies %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
    <main id="container-major">
       
        <form id="form">
            
            <label>E-mail:</label>
            <input type="email">
            <label>Senha:</label>
            <input type="password">

            <button class="btn btn-primary">Entrar</button>
        </form>
        <div id="banner">
            <div id="overlay"></div>
            <img class="img fundo" src="{% static 'img/background-login.jpg' %}">
            <h2 class="title-2">Oriente as pessoas de forma fácil e dinâmica!</h2>
        </div>
    </main>
  
{% endblock %}